<li class="nav-item dropdown user-menu">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    (click)="toggleDropdownMenu()"
  >
    <img
      src="assets/img/manager.png"
      class="user-image img-circle elevation-2"
      alt="User Image"
    />
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- User image -->
    <li class="user-header bg-info">
      <img
        src="assets/img/manager.png"
        class="img-circle elevation-2"
        alt="User Image"
      />

      <p>
        {{ user.Name }}
        <small>{{ user.Location }}</small>
      </p>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <!-- <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
        Profile
      </a> -->
      <a (click)="logout()" class="btn btn-info btn-flat float-right"
        >Sign out</a
      >
    </li>
  </ul>
</li>
