.tabset-justify-content-center {
  .nav-tabs {
    justify-content: center;
  }
}

.tab-contents {
  padding: 15px;
}


.no-data {
  font-size: 9vh;
  color    : lightgrey;
}


.no-folder {
  color: darkgray;
}