<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Time Cards</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item active">Time Cards</li>
        </ol>
        <br />
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</section>

<section class="content container-fluid"></section>
<!-- /.content -->
